# HELP patch_run_duration_seconds Duration of last patch run
# TYPE patch_run_duration_seconds gauge
patch_run_duration_seconds {{ ansible_facts['date_time']['epoch'] | int - patch_start_epoch | int }}

# HELP patch_host_success Patch success per host (1=success, 0=failure)
# TYPE patch_host_success gauge
{% for h in patch_report_list %}
patch_host_success{host="{{ h.host }}"} {{ 0 if h.failed else 1 }}
{% endfor %}

# HELP patch_host_changed Whether host had updates applied
# TYPE patch_host_changed gauge
{% for h in patch_report_list %}
patch_host_changed{host="{{ h.host }}"} {{ 1 if h.changed else 0 }}
{% endfor %}

# HELP patch_last_run_timestamp Unix timestamp of last patch
# TYPE patch_last_run_timestamp gauge
patch_last_run_timestamp {{ ansible_facts['date_time']['epoch'] }}
